.body, body {
    background: #fff!important;
}

.header, header {
    background: #393!important;
}

.logo,logo {
    background: url(../icon.svg#icon) no-repeat no-repeat 3px 10px;
    background-size: 41px;
    text-indent: 49px;
    color: #fff!important;
}

::selection {
    background: #393!important;
    color: #fff!important;
}

.h1, h1 {
    color: #393!important;
}

span .grsf-conversion-count {
    color: #fff!important;
}

.navmenu {
    color: #fff!important;
}
.navmenu ul > li:hover {
    background: #fff!important;
}

ul.tabs{border-bottom:1px solid #fff}
ul.tabs li a:active{color:#fff80;border-bottom:4px solid #fff80}
ul.tabs li.current a{color:#fff;border-bottom:4px solid #fff}

button.color{background:#393;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#393}

.social-icons img{margin-left:5px!important;border-radius:50%}

.footer,footer{    background-image: url(../img/footer.png);
    background-position-y: 15px;
    background-color: #393;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}